defaultProvider: "gemini"
defaultSystemPrompt: "You are a helpful AI assistant tasked with generating responses\
  \ based on the provided template. Respond only with the output based on the template\
  \ and variables provided. Do not add any explanations, introductions, or additional\
  \ text outside the template structure."
providers:
  "openai":
    baseUrl: "https://api.openai.com"
    apiKey: "YOUR_API_KEY"
    port: 0
    protocol: "https"
    defaultModel: "gpt-4o"
    rateLimiting:
      requestsPerMinute: 60
      maxConcurrent: 5
      retryDelay: 1000
  "anthropic":
    baseUrl: "https://api.anthropic.com"
    apiKey: "YOUR_API_KEY"
    port: 0
    protocol: "https"
    defaultModel: "claude-3-sonnet-20240229"
    rateLimiting:
      requestsPerMinute: 60
      maxConcurrent: 5
      retryDelay: 1000
  "gemini":
    baseUrl: "https://generativelanguage.googleapis.com"
    apiKey: "AIzaSyDJNtgyyhBDqfHvA82F7t2mCVubeqVkBHA"
    port: 0
    protocol: "https"
    defaultModel: "gemini-1.5-flash"
    rateLimiting:
      requestsPerMinute: 60
      maxConcurrent: 5
      retryDelay: 1000
  "ollama":
    baseUrl: "localhost"
    apiKey: ""
    port: 11434
    protocol: "http"
    defaultModel: "llama2"
    rateLimiting:
      requestsPerMinute: 300
      maxConcurrent: 10
      retryDelay: 500
requestDefaults:
  temperature: 0.7
  maxTokens: 1000
  topP: 1.0